# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.env.*

# OS / Editor
.DS_Store
.idea/
.vscode/
*.log

# DB / Migrations
*.sqlite3
*.db
migrations/

# Node (if frontend comes later)
node_modules/
dist/
build/
